.body{
    background-color:rgb(182, 179, 179);
}
span{
    color: rgb(159, 236, 3);
    font-size: larger;
}
.background{
    background-image: url(../../images/study.jpg);

    padding: 100px 20px;
}
.heading{
    background-color: rgba(0, 0, 0, 0.8);
    display: block;
    font-weight: 600;
    color: white;
}
.cardholder{
    display: grid;
    grid-template-columns: repeat(4, 3fr);
}